{% extends 'polls/base.html' %}

{% block content %}
{% if message_list %}

    {% for message in message_list %}
        <li class="list-group-item">
        <strong>{{ message.user }}-- {{ message.message|safe }}  </strong>
        </li>
    {% endfor %}

{% endif %}
{% endblock %}