{% extends 'polls/base.html' %}
{% load staticfiles %}
{% block title %}Чатек{% endblock %}
{% block content %}
    <head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        h1,h2{color: blueviolet;}
        textarea{ resize: none;
    scroll-padding-bottom: 0;
    overflow: auto;
}
        #logout{
           float: right;

        }
    </style>
    </head>
    {% if user.is_authenticated %}
    <h1>Welcome, {{ user.username }}</h1>

{% endif %}
    <h2>Chat it!<a class="btn btn-primary" id='Logout' href="/polls/logout">Logout</a></h2>

{% if chat_set %}

    {% if user.is_authenticated %}
<form id="try" method="post">{% csrf_token %}
<textarea class="form-control" id="darova" name="output_messages" cols="140" rows="15" readonly="readonly">

</textarea>
    </form>
        {% endif %}
<form id="myForm" method="post" onsubmit="return false;">
<div>
    {% if user.is_authenticated %}
    <p><input class="form-control" id = "getit" name="text" type="text" placeholder="write smth" value={{ form.text }}></p>
        <button class="btn btn-primary" onclick="sendMsg();">Send</button>{% csrf_token %}
    {% endif %}
</div>
</form>

{% endif %}

{% endblock %}