{% extends 'polls/base.html' %}

{% block title %}Логинся,пидор {% endblock %}
{% block login %}
    <head>
    <h1>Sign in </h1>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style>
        h1,h2,label{color: blueviolet;}
        textarea{ resize: none;
    scroll-padding-bottom: 0;
    overflow: auto;
}
    </style>
    </head>

    <form action="" method="post" >{% csrf_token %}
  <p>
    <label>Login</label>
    <input class="form-control"  name="name" type="text" value="{{ form.name }}">
  </p><p>
    <label>Password</label>
    <input class="form-control" type="password" name="password" value="{{ form.password }}">
  </p>
  <p>
    <p><button class="btn btn-primary" type="submit" >Confirm</button>{% csrf_token %}

  </p>
</form>
    <form method="post">
    {% csrf_token %}
    <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-primary">Login with Twitter</a>

    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary">Login with Facebook</a>

    <a href="{% url 'social:begin' 'vk-oauth2' %}" class="btn btn-primary">VK</a>
</form>
    <div><p><a class="btn btn-primary" href="/polls/signup">Sign up</a></p></div>
{% endblock %}