{% extends 'polls/base.html' %}
{% block title %}Регистрация для геев{% endblock %}
{% block signup %}
    <head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style>
        h1,h2,label{color: blueviolet;}
    </style>
    </head>
<body>
<h1>Sign up!</h1>
{% if errors %}
    <ul>
            {% for error in errors %}
                <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
{% endif %}
<form action="" method="post">
  <p>
    <label>Nickname</label>
    <input name="name" type="text" value="{{ form.name }}">
  </p>
  <p>
    <label>Email</label>
    <input type="email" name="email" value="{{ form.email }}">
  </p>
    <label>Password</label>
    <input type="password" name="password" value="{{ form.password }}">
  </p>
  <p>
    <label>Confirm it</label>
    <input type="password" name="c_password" value="{{ form.c_password }}">
  </p>
    <p>
    <button class="btn btn-primary" type="submit">Confirm</button>
  </p>{% csrf_token %}
</form>
</body>

{% endblock %}